{
  "openapi": "3.1.0",
  "info": {
    "title": "Kiriku API",
    "description": "Intelligent Document Processing API for West Africa. Extract structured data from ID cards, passports, and more.",
    "version": "1.0.0",
    "contact": {
      "email": "contact@kiriku.sn"
    }
  },
  "servers": [
    {
      "url": "https://api.kiriku.app",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/extract": {
      "post": {
        "summary": "Extract Data (Synchronous)",
        "description": "Extract structured data from a document image or PDF synchronously.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The document file (JPEG, PNG, WEBP, PDF). Max 10MB."
                  },
                  "fileBack": {
                    "type": "string",
                    "format": "binary",
                    "description": "Optional back side of the document."
                  },
                  "documentType": {
                    "type": "string",
                    "description": "Slug of the template to use (e.g. 'cni-senegal') or 'auto'."
                  },
                  "fraudCheck": {
                    "type": "boolean",
                    "default": false
                  },
                  "returnConfidence": {
                    "type": "boolean",
                    "default": false
                  },
                  "returnRawText": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "required": [
                  "file",
                  "documentType"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful extraction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractionResult"
                }
              }
            }
          }
        }
      }
    },
    "/v1/extract/async": {
      "post": {
        "summary": "Extract Data (Asynchronous)",
        "description": "Queue a document for extraction. Returns an ID to poll status or receive webhook.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "documentType": {
                    "type": "string"
                  }
                },
                "required": [
                  "file",
                  "documentType"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "extractionId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "example": "queued"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/extractions/{id}": {
      "get": {
        "summary": "Get Extraction",
        "description": "Retrieve the status and result of an extraction.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Extraction details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractionResult"
                }
              }
            }
          }
        }
      }
    },
    "/v1/templates": {
      "get": {
        "summary": "List Templates",
        "description": "Get all available document templates (built-in + custom).",
        "responses": {
          "200": {
            "description": "List of templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Template"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/templates/{slug}": {
      "get": {
        "summary": "Get Template",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/me": {
      "get": {
        "summary": "Get User Profile",
        "description": "Retrieve current user profile, plan, and credit balance.",
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/v1/billing/invoices": {
      "get": {
        "summary": "List Invoices",
        "description": "Get history of invoices generated for subscriptions.",
        "responses": {
          "200": {
            "description": "List of invoices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Invoice"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks": {
      "get": {
        "summary": "List Webhooks",
        "responses": {
          "200": {
            "description": "List of configured webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebhookConfig"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Webhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "url",
                  "events"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created"
          }
        }
      }
    },
    "/v1/mobile-handoff/session": {
      "post": {
        "summary": "Create Mobile Handoff Session",
        "description": "Create a new mobile handoff session for file transfer. The session is valid for 15 minutes.",
        "security": [],
        "responses": {
          "200": {
            "description": "Session created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobileHandoffSession"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mobile-handoff/session/{sessionId}": {
      "get": {
        "summary": "Get Session Status",
        "description": "Retrieve the current status and metadata of a mobile handoff session.",
        "security": [],
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique session identifier",
            "example": "sess_123456789"
          }
        ],
        "responses": {
          "200": {
            "description": "Session details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobileHandoffSession"
                }
              }
            }
          },
          "404": {
            "description": "Session not found"
          },
          "410": {
            "description": "Session expired"
          }
        }
      }
    },
    "/v1/mobile-handoff/upload/{sessionId}": {
      "post": {
        "summary": "Upload File",
        "description": "Upload a file to the mobile handoff session. Max file size: 10MB. Accepted formats: images (JPEG, PNG, WEBP), PDF.",
        "security": [],
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique session identifier",
            "example": "sess_123456789"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to upload"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (no file or file too large)"
          },
          "404": {
            "description": "Session not found"
          },
          "410": {
            "description": "Session expired"
          }
        }
      }
    },
    "/v1/mobile-handoff/consume/{sessionId}": {
      "get": {
        "summary": "Consume File",
        "description": "Retrieve and consume the uploaded file. The file is automatically deleted after consumption (one-time use).",
        "security": [],
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique session identifier",
            "example": "sess_123456789"
          }
        ],
        "responses": {
          "200": {
            "description": "File returned successfully",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "The MIME type of the file",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Disposition": {
                "description": "The filename disposition",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Length": {
                "description": "The size of the file in bytes",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "404": {
            "description": "Session not found or file already consumed"
          },
          "410": {
            "description": "Session expired"
          }
        }
      }
    },
    "/v1/kyc/score": {
      "post": {
        "summary": "KYC Score",
        "description": "Calculate a complete KYC score using extraction, liveness, and face match.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "extractionId": {
                    "type": "string",
                    "description": "The ID of a completed extraction."
                  },
                  "selfieBase64": {
                    "type": "string",
                    "description": "Base64 encoded selfie image."
                  },
                  "enableAml": {
                    "type": "boolean",
                    "description": "Whether to perform an AML check."
                  }
                },
                "required": [
                  "extractionId",
                  "selfieBase64"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "KYC score calculated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KycScoreResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/liveness/check": {
      "post": {
        "summary": "Check Liveness",
        "description": "Check if an image contains a live person.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The selfie image file. Max 10MB."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Liveness check completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LivenessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/match/face": {
      "post": {
        "summary": "Match Faces",
        "description": "Compare two face images and return a similarity score.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "referenceImage": {
                    "type": "string",
                    "description": "Base64 encoded reference image (e.g., ID card)."
                  },
                  "liveImage": {
                    "type": "string",
                    "description": "Base64 encoded live image (e.g., selfie)."
                  }
                },
                "required": [
                  "referenceImage",
                  "liveImage"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Face match completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FaceMatchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/aml/screen": {
      "post": {
        "summary": "AML Screening",
        "description": "Screen an individual against Anti-Money Laundering (AML) databases.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "dateOfBirth": {
                    "type": "string"
                  },
                  "nationality": {
                    "type": "string"
                  },
                  "documentNumber": {
                    "type": "string"
                  }
                },
                "required": [
                  "firstName",
                  "lastName"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AML screening completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmlScreenResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT/API Key"
      }
    },
    "schemas": {
      "ExtractionResult": {
        "type": "object",
        "properties": {
          "referenceId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "completed",
              "failed"
            ]
          },
          "documentType": {
            "type": "string"
          },
          "result": {
            "type": "object",
            "properties": {
              "extractedData": {
                "type": "object"
              },
              "globalConfidence": {
                "type": "number"
              }
            }
          },
          "creditsUsed": {
            "type": "number"
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "plan": {
            "type": "string"
          },
          "credits": {
            "type": "number"
          }
        }
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "reference": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "paid",
              "cancelled"
            ]
          },
          "paymentUrl": {
            "type": "string"
          }
        }
      },
      "WebhookConfig": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "secret": {
            "type": "string"
          }
        }
      },
      "MobileHandoffSession": {
        "type": "object",
        "properties": {
          "sessionId": {
            "type": "string",
            "description": "Unique session identifier"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "uploaded",
              "consumed"
            ],
            "description": "Session status"
          },
          "file": {
            "type": "object",
            "properties": {
              "originalName": {
                "type": "string"
              },
              "mimeType": {
                "type": "string"
              },
              "size": {
                "type": "number"
              }
            },
            "description": "File metadata (only present when uploaded)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "uploadUrl": {
            "type": "string",
            "description": "URL to upload file to this session"
          },
          "consumeUrl": {
            "type": "string",
            "description": "URL to consume the uploaded file"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "Session expiration time (15 minutes after creation)"
          }
        }
      },
      "KycScoreResponse": {
        "type": "object",
        "properties": {
          "kycScore": {
            "type": "number"
          },
          "riskLevel": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high",
              "critical"
            ]
          },
          "recommendation": {
            "type": "string",
            "enum": [
              "APPROVE",
              "REVIEW",
              "REJECT"
            ]
          },
          "breakdown": {
            "type": "object",
            "properties": {
              "ocrConfidence": {
                "type": "number"
              },
              "livenessScore": {
                "type": "number",
                "nullable": true
              },
              "faceMatchScore": {
                "type": "number",
                "nullable": true
              },
              "amlClear": {
                "type": "boolean",
                "nullable": true
              }
            }
          },
          "verifiedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LivenessResponse": {
        "type": "object",
        "properties": {
          "isLive": {
            "type": "boolean"
          },
          "confidence": {
            "type": "number"
          },
          "attackType": {
            "type": "string",
            "nullable": true
          },
          "processingMs": {
            "type": "number"
          },
          "scoreSmall": {
            "type": "number"
          },
          "scoreLarge": {
            "type": "number"
          }
        }
      },
      "FaceMatchResponse": {
        "type": "object",
        "properties": {
          "match": {
            "type": "boolean"
          },
          "similarity": {
            "type": "number"
          },
          "confidence": {
            "type": "string"
          },
          "distance": {
            "type": "number"
          },
          "threshold": {
            "type": "number"
          },
          "processingMs": {
            "type": "number"
          }
        }
      },
      "AmlHit": {
        "type": "object",
        "properties": {
          "entityId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "score": {
            "type": "number"
          },
          "datasets": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "topics": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AmlScreenResponse": {
        "type": "object",
        "properties": {
          "screened": {
            "type": "boolean"
          },
          "riskLevel": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high",
              "critical"
            ]
          },
          "hits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AmlHit"
            }
          },
          "listsChecked": {
            "type": "number"
          },
          "checkedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  }
}