{
  "openapi": "3.1.0",
  "info": {
    "title": "Kiriku API",
    "description": "Intelligent Document Processing API for West Africa. Extract structured data from ID cards, passports, and more.",
    "version": "1.0.0",
    "contact": {
      "email": "contact@kiriku.sn"
    }
  },
  "servers": [
    {
      "url": "https://api.kiriku.app",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/extract": {
      "post": {
        "summary": "Extract Data (Synchronous)",
        "description": "Extract structured data from a document image or PDF synchronously.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The document file (JPEG, PNG, WEBP, PDF). Max 10MB."
                  },
                  "fileBack": {
                    "type": "string",
                    "format": "binary",
                    "description": "Optional back side of the document."
                  },
                  "documentType": {
                    "type": "string",
                    "description": "Slug of the template to use (e.g. 'cni-senegal') or 'auto'."
                  },
                  "fraudCheck": {
                    "type": "boolean",
                    "default": false
                  },
                  "returnConfidence": {
                    "type": "boolean",
                    "default": false
                  },
                  "returnRawText": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "required": ["file", "documentType"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful extraction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractionResult"
                }
              }
            }
          }
        }
      }
    },
    "/v1/extract/async": {
      "post": {
        "summary": "Extract Data (Asynchronous)",
        "description": "Queue a document for extraction. Returns an ID to poll status or receive webhook.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "documentType": {
                    "type": "string"
                  }
                },
                "required": ["file", "documentType"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "extractionId": { "type": "string" },
                    "status": { "type": "string", "example": "queued" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/extractions/{id}": {
      "get": {
        "summary": "Get Extraction",
        "description": "Retrieve the status and result of an extraction.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Extraction details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ExtractionResult" }
              }
            }
          }
        }
      }
    },
    "/v1/templates": {
      "get": {
        "summary": "List Templates",
        "description": "Get all available document templates (built-in + custom).",
        "responses": {
          "200": {
            "description": "List of templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Template" }
                }
              }
            }
          }
        }
      }
    },
    "/v1/templates/{slug}": {
      "get": {
        "summary": "Get Template",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Template details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Template" }
              }
            }
          }
        }
      }
    },
    "/v1/users/me": {
      "get": {
        "summary": "Get User Profile",
        "description": "Retrieve current user profile, plan, and credit balance.",
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/User" }
              }
            }
          }
        }
      }
    },
    "/v1/billing/invoices": {
      "get": {
        "summary": "List Invoices",
        "description": "Get history of invoices generated for subscriptions.",
        "responses": {
          "200": {
            "description": "List of invoices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Invoice" }
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks": {
      "get": {
        "summary": "List Webhooks",
        "responses": {
          "200": {
            "description": "List of configured webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/WebhookConfig" }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Webhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": { "type": "string" },
                  "events": { "type": "array", "items": { "type": "string" } }
                },
                "required": ["url", "events"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT/API Key"
      }
    },
    "schemas": {
      "ExtractionResult": {
        "type": "object",
        "properties": {
          "referenceId": { "type": "string" },
          "status": { "type": "string", "enum": ["completed", "failed"] },
          "documentType": { "type": "string" },
          "result": {
            "type": "object",
            "properties": {
              "extractedData": { "type": "object" },
              "globalConfidence": { "type": "number" }
            }
          },
          "creditsUsed": { "type": "number" }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "slug": { "type": "string" },
          "name": { "type": "string" },
          "category": { "type": "string" },
          "fields": { "type": "array", "items": { "type": "object" } }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "email": { "type": "string" },
          "plan": { "type": "string" },
          "credits": { "type": "number" }
        }
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "reference": { "type": "string" },
          "amount": { "type": "number" },
          "status": { "type": "string", "enum": ["pending", "paid", "cancelled"] },
          "paymentUrl": { "type": "string" }
        }
      },
      "WebhookConfig": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "url": { "type": "string" },
          "events": { "type": "array", "items": { "type": "string" } },
          "secret": { "type": "string" }
        }
      }
    }
  }
}
